html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: slategrey;
}


#mainPlayground {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.scrollVertically{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
}

.actionCenter .col-lg-2{
    padding: 0 !important;
}

.actionCenter .col-lg-10{
    padding-right: 0 !important;
}

.actionCenter .insertShapes .col-lg-12{
    padding: 0 !important;
} 